TUNESHINE_HOST=192.168.4.76
SLIDE_SECONDS=15
DVD_SLIDE_SECONDS=15
GALLERY_DIR=gallery
UPLOAD_DELAY_SECONDS=0.5
LOOP_PROOF_DELAY_SECONDS=5
511_TOKEN=your_511_token_here
ACTRANSIT_TOKEN=your_ac_transit_token_here
