TUNESHINE_HOST=your_tuneshine_ip_or_host
SLIDE_SECONDS=15
DVD_SLIDE_SECONDS=15
GALLERY_DIR=gallery
UPLOAD_DELAY_SECONDS=1
LOOP_PROOF_DELAY_SECONDS=5
DEV_MODE=false
WEB_PORT=3000
WEB_DISABLED=false
DASHBOARD_DISABLED=false
TOKEN_511=your_511_token_here
ACTRANSIT_TOKEN=your_ac_transit_token_here
PLEX_ENABLED=false
PLEX_POLL_SECONDS=5
PLEX_USERNAME=your_plex_username
PLEX_SERVERS=LOCAL,CLOUD
PLEX_LOCAL_NAME=Local Plex
PLEX_LOCAL_URL=http://192.168.1.20:32400
PLEX_LOCAL_TOKEN=your_local_server_token
PLEX_CLOUD_NAME=Cloud Plex
PLEX_CLOUD_URL=https://cloud-plex.example.com:32400
PLEX_CLOUD_TOKEN=your_cloud_server_token
