TUNESHINE_HOST=your_tuneshine_ip_or_host
SLIDE_SECONDS=15
DVD_SLIDE_SECONDS=15
GALLERY_DIR=gallery
UPLOAD_DELAY_SECONDS=0.5
LOOP_PROOF_DELAY_SECONDS=5
DEV_MODE=false
WEB_PORT=3000
WEB_DISABLED=false
DASHBOARD_DISABLED=false
TOKEN_511=your_511_token_here
ACTRANSIT_TOKEN=your_ac_transit_token_here
